#preloader{
    background: #fff url(../imagens/loader.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


* {
    margin: 0;
    padding: 0;
    
}
* {
    scrollbar-width: thin;
    scrollbar-color: purple rgb(255, 255, 255, 0.5);
  }
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0.5)
  }
  *::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255, 0.5)
  }
body {
    
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;

    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, green, white, blue);
    background: -webkit-linear-gradient(45deg, green, white, blue);
    background: -o-linear-gradient(45deg, green, white, blue);
    background: -moz-linear-gradient(45deg, green, white, blue);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}


ul.cabecario li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
    padding-top: 10px;
}

ul.cabecario li a {
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 35px;
}

ul.cabecario li a:hover {
    color: rgb(255, 0, 0);
}

nav.container_Nav {
    text-align: center;
}

header.cabecario {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
}

footer div.rodape {
    color: #fff;
    margin-top: 150px;
    background-color: black;
    font-family: sans-serif;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul a img {
    height: 35px;
    width: 30px;
}

div.rodape ul li {
    padding: auto;
    color: white;
    margin: 20px;
    padding-top: 10px;
    display: block;
}
ul li a {
    text-decoration: none;

}

div.corpo {
    display: block;
    text-align: center;
    font-size: 3vw;
    
}

footer div ul.rodape a img {
    display: inline-block;
    margin: 10px;
    border-radius: 40%;
}

div.corpo div.dia {
    color: darkblue;
    display: inline-block;
    height: 25vh;
    width: 22vw;
    border: 1px solid rgb(58, 51, 51);
    margin: 10px;
    box-shadow: inset 0 0 1em blue;
}

nav ul img {
    height: 100px;
    width: 100px;
    float: left;
}

.margem {
    margin: 50px;

}

.professoraC {
    width: 20%;
    margin-bottom: 200px;
    margin-top: 200px;
}

.div_columns1 {

    float: left;
}

.div_columns2 {

    float: right;
}

.cardNotas {

    margin: auto;
    background-color: white;
    height: 100%;
    width: 97%;
    border-radius: 5%;
    border: 2px solid darkblue;
    display: flex;
    
}

.modal {

    position: fixed;
    z-index: -1;
    width: 80vw;
    height: 70%;
    left: 50vw;
    top: 10vh;
    background-color: white;
    transform: translateY(-25%);
    padding: 1rem;
    border: 1px solid silver;
    box-shadow: 4px 4px 8px #0002;
    border-radius: 5px;
    opacity: 0;
    transition: all 200ms ease-out;
    text-align: center;
    align-items: center;

}

.modal.visivel {
    opacity: 10;
    transform: translate(-50%);
    z-index: 100;
}


.modal>header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0001;
}

.modal>.corpo-modal {
    padding: 1em 0;
    padding-bottom: 100%;
}

.modal>footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #0001;
    padding-top: 0.75em;
}

span.fechar-modal {
    background-color: #0001;
    border-radius: 50%;
    display: flex;
    width: 1.25em;
    height: 1.25em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#mascara {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    pointer-events: none;
}

.modal.visivel~#mascara {
    opacity: 0.4;
    pointer-events: initial;
}

div.dias_semana div p {
    position: absolute;
    float: initial;
}

div.dias_semana div input {
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.btnAbrirModal {
    width: 30%;
    height: 30%;
    position: relative;
    float: right;
    bottom: 30%;
    z-index: -1;
}

.btnAbrirModal img {
    float: inherit;
    height: 100%;

}

.deslogar {
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    border-radius: 40%;
    width: 30px;
    height: 30px;
    margin-top: 2%;
    margin-left: 3%;
    float: left;
    padding: 0
}

.deslogar img {
    background-color: red;
    border-radius: 40%;
    width: 30px;
    height: 30px;

}

#tbl_aluno {

    background-color: black;
    margin: 10% auto;
    top: 25px;
    position: relative;
    border-radius: 5%;
    width: 90%;
    height: 200px;
}

#celula {
    background-color: aliceblue;
    text-align: center;

}

th#celula {
    background-color: rgb(90, 0, 0);

}

button {
    background-color: rgba(1, 16, 59, 1);
    border: 3px solid rgb(47, 68, 124);;
    
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.inpTexto:hover {
    background: #ffffff;
    border: 1px solid #990000;
}

.inpTexto {
    font-size: x-large;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    background: #cccccc;
    border: 1px solid #000000;
    width: 100%;
    height: 40px;
}

div.corpo div h1.titulo {
    top: 25px;
    position: relative;
    font-size: 160%;

}

ul.cabecario li a.pagina_atual {
    pointer-events: none;
    color: rgb(48, 48, 48);

}

ul.cabecario li a {
    transition: all 1s;
}



div.corpo div.aluno{
    display: none;
}

.contatos{
    width: 20px;
    height: 20px;
    transform: translateY(5px);
    margin-right: 3px;
}

.cor_link a{
    color: purple;
}

.divisoria {
    border-left: 1px solid rgb(227, 255, 220);
    height: 200px;
    width: 1px;
}

.evento_click{
    pointer-events: none;
}

.opcional{
    color: #333333;
    font-size: 15px;
}

@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%
    }
}

@media screen and (min-width: 625px) {
    div.corpo b.media {
        bottom: 40vh;
    }
    

}

@media screen and (max-width: 625px) {
    footer div.rodape{
        display: block;
    }

    .divisoria{
        display: none;
    }

}

@media screen and (min-width: 887px) {
    div.cardNotas {
        height: 100%;
        width: 60%;
    }


}

@media screen and (max-width: 458px) {
    .inpTexto{
        width: 100%;
    }
    div.corpo div.dia p {
        font-size: x-large;

    }

    .margem {
        margin: 10px;
        font-size: xx-large;
    }
    .inpTexto{
        font-size: medium;
    }
}

@media screen and (max-width: 1237px) {
    ul.cabecario {
        background-color: black;
        padding-bottom: 70px;

    }

    ul.cabecario li {
        clear: both;
        display: block;

    }

    ul.cabecario li a {
        text-align: start;
        margin-left: auto;
        float: left;



    }

    div.corpo {
        clear: both;
        display: block;
        margin-top: 30vh;

    }

    div.corpo div h1 {
        margin-top: 180px;
        margin-bottom: 25px;
        font-size: 50px;

    }

    div.corpo div.dia {
        height: 50vh;
        width: 93vw;



    }
}